!!! 5
html(lang='ru', ng-app="app", ng-controller="AppCtrl", ng-cloak)

    head: block head

        block head-meta
            meta(charset='utf-8')

        block head-title
            title {{head.title}}

        block head-styles
            link(rel='stylesheet', href='/styles/awesome.css')
            link(rel='stylesheet', href='/styles/aboard.css')

        block head-scripts
            script(src='/scripts/libs/angular/angular.min.js')
            script(src='/scripts/libs/angular/angular-resource.min.js')
            script(src='/scripts/libs/angular/angular-route.min.js')
            script(src='/scripts/aboard.js')
            :coffeescript
                app= angular.module 'app', ['aboard', 'ngRoute'], ($routeProvider, $locationProvider) ->
                    $locationProvider.html5Mode true

                app.controller 'AppCtrl', ($rootScope, User) ->
                    $rootScope.user= User.get (user) ->
                        console.info 'User resolved', user

    body: block body
