!!! 5
html(lang='ru', ng-app="awesome", ng-controller="AppCtrl", ng-cloak)

    head: block head

        block head-meta
            meta(charset='utf-8')

        block head-title
            title {{head.title}}

        block head-scripts
            script(src='/scripts/libs/angular/angular.min.js')
            script(src='/scripts/libs/angular/angular-resource.min.js')
            :coffeescript
                app= angular.module 'awesome', ['ngResource']

                app.factory 'User', ($resource) ->
                    $resource '/api/v1/user', {}

                app.controller 'AppCtrl', ($rootScope, $log, User) ->
                    $rootScope.app=
                        ready: null
                        error: null
                    $rootScope.user= User.get (user) ->
                            $rootScope.app.ready= true
                    ,   (err) ->
                            $rootScope.app.error= err

    body: block body
